/* custom styles */


body {
	background-color: blue;
	background-image: url("https://wallpapercave.com/wp/j77l1TC.jpg");
	background-size: cover;
}

.twitter {
	margin: 20px 30px;

}

.Linkedin {
	margin: 20px 15px;
}

h1 {
	text-align: center;
}

.ga {
	margin: 0px auto;

}

ul {
	font-size: 30px;
	
}

p {
	display: inline-block;
	margin: 10px 20px 0px 800px;	
	width: 300px;
    font-family: Bookman;
    font-size: 22px;	
}

.copyright {
	text-align: center;
	font-size: 19px;
	font-family: Trebuchet MS;
}

.message {
	text-align: center;
	font-size: 22px;
	font-family: Comic Sans MS;
}
